{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'password_reset.css' %}" />
  </head>
  <body>
    <div class="form-group">
      <h2>Check Your Email</h2>
      <p>Dear user, we have sent you a link to your email for you to reset your password</p>
      <p>Thank you</p>
      <a href="{% url 'login' %}">Back to Login</a>
    </div>
  </body>
</html>
