<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% autoescape off %}<br />
    Hi {{ user.username }},<br />
    You're receiving this email because you requested a password reset for your account at {{ site_name }}. Please go to the following page and choose a new password: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}<br />
    Thanks for using our site! {% endautoescape %}
  </body>
</html>
