{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset | Completed</title>
    <link rel="stylesheet" href="{% static 'password_reset.css' %}" />
  </head>
  <body>
    <div class="form-group">
      <h2>Password Successfully Changed</h2>
      <p>You have successfully changed your password. Get back in!</p>
      <a href="{% url 'login' %}">Back to Login</a>
    </div>
  </body>
</html>
